[defaults]
remote_user = almalinux
inventory = ~/ansible_new/inventory/amont/hosts.ini
roles_path = ~/ansible_new/roles
collections_path = ~/ansible_new/collections
action_plugins = ~/ansible_new/plugins/actions
deprecation_warnings = false
retry_files_enabled = false
host_key_checking = False
