[defaults]
remote_user = almalinux
inventory = ~/ansible-ovh/inventory/prod/hosts.ini
roles_path = ~/ansible-ovh/roles
collections_path = ~/ansible-ovh/collections
action_plugins = ~/ansible-ovh/plugins/actions
deprecation_warnings = false
retry_files_enabled = false
host_key_checking = False
