#!/bin/bash
{% for repo in alma_repos %}
{% for release in alma_releases %}
# Synchronisation du dépôt {{ repo }}
dnf reposync --repoid={{ repo }} -p {{ repo_base_path }}/alma{{ release }}-repos/ --download-metadata --delete --releasever={{ release }}

# Mise à jour des métadonnées (important pour que les clients voient les paquets)
createrepo --update {{ repo_base_path }}/alma{{ release }}-repos/{{ repo }}
{% endfor %}
{% endfor %}
